In [1]:
tup = (1,2,3,4,5)
print(tup,type(tup))

(1, 2, 3, 4, 5) <class 'tuple'>

In [21]:
tup1 = ("welcome")
tup1_0 = ('welcome',)
print(tup1,type(tup1))
print(tup1_0,type(tup1_0))

welcome <class 'str'>
('welcome',) <class 'tuple'>

In [55]:
tup1_0 = ("welcome", "to", "the", "world", "of", "python")
print(tup1_0, type(tup1_0))

('welcome', 'to', 'the', 'world', 'of', 'python') <class 'tuple'>

In [3]:
tup2 = ('A','b','c')
print(tup2, type(tup2))

('A', 'b', 'c') <class 'tuple'>

In [22]:
tup3 = (1)
tup3_0 = (1,)
print(tup3, type(tup3))
print(tup3_0, type(tup3_0))

1 <class 'int'>
(1,) <class 'tuple'>

In [5]:
tup4 = (2.0)
tup4_0 = (2.0,)
print(tup4, type(tup4))
print(tup4_0, type(tup4_0))

2.0 <class 'float'>

In [56]:
tup5 =('A')
tup5_0 =('A',)
print(tup5, type(tup5))
print(tup5_0, type(tup5_0))

A <class 'str'>
('A',) <class 'tuple'>

In [7]:
#duplicates are allowed
tup6 = (1,2,2,5,4,6)
print(tup6,type(tup6))

(1, 2, 2, 5, 4, 6) <class 'tuple'>

In [12]:
# But immutable

##tup6[2] = 3


#TypeError                                 Traceback (most recent call last)
#Cell In[8], line 2
#      1 # But immutable
#----> 2 tup6[2] = 3

#TypeError: 'tuple' object does not support item assignment

In [14]:
# but we can reassign object or values to existing tuple 
tup6 =(10,11,12)
print(tup6, type(tup6))

(10, 11, 12) <class 'tuple'>

In [57]:
tup1_0[-2:1:-1] # in visualstudio IDE you will this output -> ('of', 'world', 'the')

('of', 'world', 'the')

In [20]:
tup1_0 = ("welcome", "to", "the", "world", "of", "python")
print(tup1_0[-2:0:-1])
print(tup1_0[-2:-6:-1])
print(tup1_0[1:5]) 
#('of', 'world', 'the', 'to')
#('of', 'world', 'the', 'to')
#('to', 'the', 'world', 'of')

('of', 'world', 'the', 'to')
('of', 'world', 'the', 'to')
('to', 'the', 'world', 'of')

In [28]:
# with Tuple you can use only 2 methods count and index
tup7 = (1,2,2,3,5,6,2,7)
print(tup7.count(2))

3

In [29]:
tup7[5]

6

In [30]:
tup7[2:8:2]

(2, 5, 2)

In [31]:
tup7[-2:0:-1]

(2, 6, 5, 3, 2, 2)

In [32]:
tup7[-2::-1]

(2, 6, 5, 3, 2, 2, 1)

In [37]:
tup8 = (1,3,5,[2,3],(6,7,8))
tup8[3][1] = 10
print(tup8, type(tup8[3][1]), type(tup8[3]))

(1, 3, 5, [2, 10], (6, 7, 8)) <class 'int'> <class 'list'>

In [38]:
tup8[4][1] = 3
print(tup8)

TypeError: 'tuple' object does not support item assignment

In [39]:
tup8[2]= 3
tup8

TypeError: 'tuple' object does not support item assignment

In [41]:
tup9 = (1,2,{6,4,3}, "welcome",5,8)
tup9[4] = 'python'
print(tup9)

TypeError: 'tuple' object does not support item assignment

In [42]:
tup9[2][1] = 10

TypeError: 'set' object does not support item assignment

In [44]:
tup10 = (1,2,{'a':6,'b':4,'c':3}, "welcome",5,8)
tup10[2][1] = 10
print(tup10)

(1, 2, {'a': 6, 'b': 4, 'c': 3, 1: 10}, 'welcome', 5, 8)

In [45]:
tup10 = (1,2,{'a':6,'b':4,'c':3}, "welcome",5,8)
tup10[2][2] = 10
print(tup10)

(1, 2, {'a': 6, 'b': 4, 'c': 3, 2: 10}, 'welcome', 5, 8)

In [59]:
tup10 = (1,2,{'a':6,'b':4,'c':3}, "welcome",5,8)
tup10[2]['b'] = 10
print(tup10, type(tup10[2]['b']),type(tup10[2]))

(1, 2, {'a': 6, 'b': 10, 'c': 3}, 'welcome', 5, 8) <class 'int'> <class 'dict'>

In [48]:
tup10[3][1] = 'i'

TypeError: 'str' object does not support item assignment

In [51]:
print(tup10[3][1], type(tup10[3][1]), type(tup10[3]))

e <class 'str'> <class 'str'>

In [52]:
tup10[3] = 'python'
tup10

TypeError: 'tuple' object does not support item assignment

In [53]:
tup10[3]

'welcome'

In [54]:
str = 'welcome'
str = 'python'
str

'python'